:root {
  --bg-link-header:linear-gradient(to right, #ffcc00,
      #01ffff);
  --text-color:#000000;
  --text-color-sign:#ffcc00;
}

.menu:hover{
  background: var(--bg-link-header);
  color: var(--text-color);
}

.signIn-button {
  text-transform: uppercase;
}

.signUp-button{
  text-transform: uppercase;
}

.signIn-button::after{
  content: '/';
  margin-left:6px;
}

.signIn-button:hover::after {
  color: var(--text-color-sign);
  content: ' (Iniciar sesión)';
}

.signUp-button:hover::after {
  color: var(--text-color-sign);
  content: ' (Registrarse)';
}