:root {
  --bg-:linear-gradient(to right, #ffcc00, #01ffff);
  --shadow-:#ffffff;
  --bg-dot:#ffffff;
  --bg-dot-active:#ffcc00;
}

.card {
  background: var(--bg-);
  border-radius: 20px;
}

.card2 {
  background: #111;
  border-radius: 20px;
}

.card2:hover {
  transform: scale(0.98);
  border-radius: 20px;
}

.card:hover {
  box-shadow: 0px 0px 30px 1px var(--shadow-)
}

/*Carrousel */

/* DOTS*/
.custom-dot {
  background-color: transparent;
  padding: 5px;
  cursor: pointer;
}

.custom-dot .dot {
  width: 10px;
  height: 10px;
  background-color: var(--bg-dot);
  border-radius: 50%;
  display: inline-block;
}

.custom-dot--active .dot {
  background-color: var(--bg-dot-active);
}