:root {
  --bg-: linear-gradient(to right, #ffcc00, #01ffff);
  --shadow-: #ffffff;
  --bg-dot: #ffffff;
  --bg-dot-active: #ffcc00;
}

.card {
  background: var(--bg-);
  border-radius: 20px;
  box-sizing: border-box;
}

.card2 {
  min-height: 300px;
  box-sizing: border-box;
  background: #111;
  border-radius: 20px;
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.card-title {
  text-align: center;
  margin: 0;
  font-size: 1.25rem;
  /* Ajusta el tamaño del texto si es necesario */
  overflow-wrap: break-word;
  /* Ajusta el texto largo */
  word-break: break-word;
  /* Rompe palabras largas si es necesario */
  width: 100%;
  /* Asegúrate de que el ancho es el adecuado */
}

/* .card2:hover {
  transform: scale(0.98);
  border-radius: 20px;
} */

/* .card:hover {
  box-shadow: 0px 0px 30px 1px var(--shadow-)
} */

/* Pin button */
/* .button-pin {
  position: relative;
  padding: 10px 22px;
  border-radius: 6px;
  border: none;
  color: #111;
  cursor: pointer;
  background: linear-gradient(to right, #ffcc00, #01ffff);
  transition: all 0.2s ease;
}

.button-pin:active {
  transform: scale(0.96);
}

.button-pin:before,
.button-pin:after {
  position: absolute;
  content: "";
  width: 150%;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  z-index: -1000;
  background-repeat: no-repeat;
}

.button-pin:hover:before {
  top: -70%;
  background-image:
    radial-gradient(circle, #ffcc00 15%, transparent 15%),
    radial-gradient(circle, transparent 15%, #01ffff 20%, transparent 25%),
    radial-gradient(circle, #ffcc00 20%, transparent 25%),
    radial-gradient(circle, transparent 20%, #0099ff 25%, transparent 30%),
    radial-gradient(circle, #01ffff 25%, transparent 30%),
    radial-gradient(circle, transparent 30%, #ffcc00 35%, transparent 40%),
    radial-gradient(circle, #01ffff 30%, transparent 35%),
    radial-gradient(circle, transparent 35%, #ffcc00 40%, transparent 45%),
    radial-gradient(circle, #01ffff 35%, transparent 40%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
    10% 10%, 18% 18%;
  background-position: 50% 120%;
  animation: greentopBubbles 0.6s ease;
}

@keyframes greentopBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
  }

  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
  }

  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

.button-pin:hover::after {
  bottom: -70%;
  background-image:
    radial-gradient(circle, #ffcc00 15%, transparent 15%),
    radial-gradient(circle, transparent 15%, #01ffff 20%, transparent 25%),
    radial-gradient(circle, #ffcc00 20%, transparent 25%),
    radial-gradient(circle, transparent 20%, #0099ff 25%, transparent 30%),
    radial-gradient(circle, #01ffff 25%, transparent 30%),
    radial-gradient(circle, transparent 30%, #ffcc00 35%, transparent 40%),
    radial-gradient(circle, #01ffff 30%, transparent 35%),
    radial-gradient(circle, transparent 35%, #ffcc00 40%, transparent 45%),
    radial-gradient(circle, #01ffff 35%, transparent 40%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
  background-position: 50% 0%;
  animation: greenbottomBubbles 0.6s ease;
}

@keyframes greenbottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0%;
  }

  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
  }

  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
} */

.codepen-button {
  display: block;
  cursor: pointer;
  color: white;
  position: relative;
  text-decoration: none;
  font-weight: 600;
  border-radius: 6px;
  overflow: hidden;
  padding: 3px;
  isolation: isolate;
}

.codepen-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 400%;
  height: 100%;
  background: linear-gradient(115deg, #4fcf70, #fad648, #a767e5, #12bcfe, #44ce7b);
  background-size: 25% 100%;
  animation: an-at-keyframe-css-at-rule-that-translates-via-the-transform-property-the-background-by-negative-25-percent-of-its-width-so-that-it-gives-a-nice-border-animation_-We-use-the-translate-property-to-have-a-nice-transition-so-it_s-not-a-jerk-of-a-start-or-stop .75s linear infinite;
  animation-play-state: paused;
  translate: -5% 0%;
  transition: translate 0.25s ease-out;
}

.codepen-button:hover::before {
  animation-play-state: running;
  transition-duration: 0.75s;
  translate: 0% 0%;
}

@keyframes an-at-keyframe-css-at-rule-that-translates-via-the-transform-property-the-background-by-negative-25-percent-of-its-width-so-that-it-gives-a-nice-border-animation_-We-use-the-translate-property-to-have-a-nice-transition-so-it_s-not-a-jerk-of-a-start-or-stop {
  to {
    transform: translateX(-25%);
  }
}

.codepen-button span {
  position: relative;
  display: block;
  padding: 0.5rem 1.5rem;
  font-size: 1.1rem;
  background: #000;
  border-radius: 3px;
  height: 100%;
}

/*Carrousel */

/* DOTS*/
.custom-dot {
  background-color: transparent;
  padding: 5px;
  cursor: pointer;
}

.custom-dot .dot {
  width: 10px;
  height: 10px;
  background-color: var(--bg-dot);
  border-radius: 50%;
  display: inline-block;
}

.custom-dot--active .dot {
  background-color: var(--bg-dot-active);
}