@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 83, 59, 124;
  /* --background-end-rgb: 255, 255, 255; */
}

body {
  background-image: url('../../public/bbburst.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  color: rgb(var(--foreground-rgb));
}

.nav-header {
  display: none;
}

/* Estilos para pantallas más grandes que 768px (desktop y superiores) */
@media (min-width: 989px) {
  body {
    width: 100%;
    font-size: 20px;
  }

  /* HEADER */
  .logo {
    width: 80px;
  }

  .sidebar {
    display: none;
  }

  .nav-header {
    display: block;
  }
}

/* Estilos para pantallas más grandes que 1024px (large desktop y superiores) */
@media (min-width: 1024px) {
  body {
    width: 100%;
    font-size: 22px;
  }

  .logo {
    width: 80px;
  }
}

/* !LOADER */
.loader {
  display: inline-flex;
  gap: 10px;
}

.loader:before,
.loader:after {
  content: '';
  height: 80px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #000 95%, #0000) 35% 35%/6px 6px
    no-repeat #fff;
  transform: scaleX(var(--s, 1)) rotate(0deg);
  animation: l6 1s infinite linear;
}

.loader:after {
  --s: -1;
  animation-delay: -0.1s;
}

@keyframes l6 {
  100% {
    transform: scaleX(var(--s, 1)) rotate(360deg);
  }
}
