@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --number-of-characters: 21;
}

.bgroom {
  background: rgb(28, 255, 228);
  background: linear-gradient(
    346deg,
    rgba(28, 255, 228, 1) 0%,
    rgba(17, 17, 17, 1) 20%,
    rgba(17, 17, 17, 1) 42%,
    rgba(17, 17, 17, 1) 79%,
    rgba(252, 255, 0, 1) 100%
  );
}

/* Header */

.header {
  background-image: url('../../public/Header.png');
  background-position: center;
  height: 100px;
}

.nav-header {
  display: none;
}

/* Body */
body {
  overflow-x: hidden;
  background-image: url('../../public/Background.png');
  background-color: black;
  background-size: cover;
  color: rgb(var(--foreground-rgb));
}

/* Estilos para pantallas más grandes que 768px (desktop y superiores) */
@media (min-width: 1115px) {
  body {
    width: 100%;
    font-size: 20px;
  }

  .logo {
    width: 80px;
  }

  .sidebar {
    display: none;
  }

  .nav-header {
    display: block;
  }

  /* .header {
    height: 150px;
  } */
}

/* Estilos para pantallas más grandes que 1024px (large desktop y superiores) */
@media (min-width: 1024px) {
  body {
    width: 100%;
    font-size: 22px;
  }
}
/* hover para botoness */

.hoverGradiant:hover {
  color: white;
  box-shadow: 5px 1px 86px -13px rgba(0, 0, 0, 0.54) inset;
  -webkit-box-shadow: 5px 1px 86px -13px rgba(0, 0, 0, 0.54) inset;
  -moz-box-shadow: 5px 1px 86px -13px rgba(0, 0, 0, 0.54) inset;
}

/* !LOADING*/
.spinner {
  --size: 30px;
  --first: #005bba;
  --second: #fed500;
  width: 50px;
  height: 50px;
  position: relative;
  animation: spin 2s linear infinite;
}

.spinner::before,
.spinner::after {
  content: '';
  width: var(--size);
  height: var(--size);
  background: var(--first);
  border-radius: 100%;
  position: absolute;
  top: 10%;
  transform: translateY(-50%);
  animation: bounce 1s ease-in-out alternate infinite;
}

.spinner::after {
  background: var(--second);

  animation: bounce 1s 0.5s ease-in-out alternate infinite;
}

@keyframes bounce {
  50% {
    transform: translateX(-50%);
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

/* logo */
.logo {
  animation: bounce-in-top 1.1s both;
}
@keyframes bounce-in-top {
  0% {
    transform: translateY(-500px);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(-65px);
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(-28px);
    animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(-8px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
}

/* tarjetas  */
.bounce-in-bck {
  animation: bounce-in-bck 1.1s both;
}
@keyframes bounce-in-bck {
  0% {
    transform: scale(7);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: scale(1);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: scale(1.5);
    animation-timing-function: ease-in;
  }
  72% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
  81% {
    transform: scale(1.24);
    animation-timing-function: ease-in;
  }
  89% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
  95% {
    transform: scale(1.04);
    animation-timing-function: ease-in;
  }
  100% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
