@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 83, 59, 124;
  /* --background-end-rgb: 255, 255, 255; */
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  transition: all 3s;
}

.nav-header {
  display: none
}


/* Estilos para pantallas más grandes que 768px (desktop y superiores) */
@media (min-width: 768px) {
  body {
    width: 100%;
    font-size: 20px;

  }

  /* HEADER */
  .logo {
    width: 80px;
  }

  .sidebar {
    display: none;
  }

  .nav-header {
    display: block
  }

}

/* Estilos para pantallas más grandes que 1024px (large desktop y superiores) */
@media (min-width: 1024px) {
  body {
    width: 100%;
    font-size: 22px;
 
  }

  .logo {
    width: 80px;
  }

}